.logo {
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  
    color: #2196f3;
  
    margin-right: 93px;
    /* margin-bottom: 20px;  */
  }
  .logo-light-theme {
    color: #212121;
  }
  .logo-dark-theme {
    color: #ffffff;
  }